@page "/myskills"
@rendermode InteractiveServer
@using SkillsMatrix.Infrastructure.Models
@using SkillsMatrix.Infrastructure.Services.SkillService
@using SkillsMatrix.Infrastructure.Services.UserService
@using SkillsMatrix.Infrastructure.Services.UserSkillRatingService
@using System.Threading;
@inject ISkillService skillService;
@inject IUserService userService;
@inject IUserSkillRatingService userSkillRatingService;

<PageTitle>My Skills</PageTitle>

<h3>New Skill</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@userSkillRating" FormName="AddSkill" OnValidSubmit="HandleValidSubmit">
            <MudAutocomplete T="Skill" Label="Choose a skill" MaxItems="null" @bind-Value="userSkillRating.Skill" ToStringFunc="@(skill => skill==null?null: $"{skill.Name}")" SearchFuncWithCancel="@Search" CoerceText="true">
                <NoItemsTemplate>
                    <MudText Align="Align.Center" Class="px-4 py-1">No matching skills found</MudText>
                    <AfterItemsTemplate>
                        <div class="pa-2">
                            <MudButton>Create new Skill</MudButton>
                        </div>
                    </AfterItemsTemplate>
                </NoItemsTemplate>
            </MudAutocomplete>
            <MudText>Current Skillevel</MudText>
            <MudRadioGroup @bind-Value="userSkillRating.Rating">
                <MudRadio Value="@(1)">1</MudRadio>
                <MudRadio Value="@(2)">2</MudRadio>
                <MudRadio Value="@(3)">3</MudRadio>
                <MudRadio Value="@(4)">4</MudRadio>
                <MudRadio Value="@(5)">5</MudRadio>
                <MudRadio Value="@(6)">6</MudRadio>
            </MudRadioGroup>
            <MudText>Desired Skillevel</MudText>
            <MudRadioGroup @bind-Value="userSkillRating.DesiredRating">
                <MudRadio Value="@(1)">1</MudRadio>
                <MudRadio Value="@(2)">2</MudRadio>
                <MudRadio Value="@(3)">3</MudRadio>
                <MudRadio Value="@(4)">4</MudRadio>
                <MudRadio Value="@(5)">5</MudRadio>
                <MudRadio Value="@(6)">6</MudRadio>
            </MudRadioGroup>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
         </EditForm>
    </div>
</div>

@code
{
    private User currentUser;
    private UserSkillRating userSkillRating = new();
    private IEnumerable<Skill> skills;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await userService.Get(1);
        skills = await skillService.GetAll();
    }

    private async Task HandleValidSubmit()
    {
        userSkillRating.User = currentUser;
        await userSkillRatingService.Add(userSkillRating);

    }

    private async Task<IEnumerable<Skill>> Search(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value)) return skills;
        return skills.Where(skill => skill.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}