@* @typeparam TModel
<h3>FilterMenu</h3>

<MudPopover Open="@_filterOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
    <div class="m-2">

        <h3>Show or Hide skills</h3>

        @foreach (var skill in Skills)
        {
            <MudCheckBox T="bool" Label="@skill.Name" Value="true" @onchange="(e) => ToggleColumnVisibility(column, e.Value)" />
        }
        <MudStack Row="true">
            <MudButton OnClick="@(() => ClearFilterAsync(context))">Clear</MudButton>
            <MudButton Color="@Color.Primary" OnClick="@(() => ApplyFilterAsync(context))">Filter</MudButton>
        </MudStack>
    </div>
</MudPopover>

@code {
    [Parameter]
    public IEnumerable<Skill> Skills { get; set; }
    public IEnumerable<Skill> filteredSkills { get; set; }
    bool _filterOpen = true;
} *@
