@if (UserSkillRating == null)
{
    <p>Loading...</p>
}
else
{
    <div class="mb-3">
        <h5>@UserSkillRating.Skill.Name</h5>
        <label>Current:</label>
        <MudRating @bind-SelectedValue="UserSkillRating.Rating" EmptyIcon="@Icons.Material.Rounded.CropSquare" FullIcon="@Icons.Material.Rounded.Square" MaxValue="6" />
        <label class="ml-1">Ambition:</label>
        <MudRating @bind-SelectedValue="UserSkillRating.DesiredRating" EmptyIcon="@Icons.Material.Rounded.CropSquare" FullIcon="@Icons.Material.Rounded.Square" MaxValue="6"  />
    </div>
}

@code {
    [Parameter]
    public UserSkillRating UserSkillRating { get; set; }
}